catboost
fastapi==0.137.1
holidays==0.95
joblib==1.4.2
Lifetimes==0.11.3
lightgbm==4.6.0
matplotlib
numpy<2.0.0
pandas<3.0.0
plotly==5.22.0
psycopg2_binary==2.9.11
pydantic==2.13.4
Requests==2.34.2
scikit-learn
scipy
seaborn==0.13.2
shap==0.45.1
SQLAlchemy==2.0.30
statsmodels==0.14.2
streamlit==1.32.0
tqdm==4.66.4
uvicorn==0.30.0
xgboost==2.0.3